* {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #f1feea;
}

.header .navbar-nav a {
  color: #020101;
  font-size: 17px;
  margin-inline: 10px;
}

.header .navbar-nav a:hover {
  color: #4e7fad;
}

.header .row {
  min-height: 85vh;
}

.header .row .col:nth-child(1)h1 {
  font-size: 70px;
  color: #020101;
  -o-animated-delay:3.4 ;
}

.header .row .col:nth-child(1)p {
  font-size: 14px;
  padding-right: 70px;
}

.header .row .col:nth-child(1) div i {
  color: rgb(36, 56, 56);
}

.header .row .col:nth-child(2) img:nth-child(1) {
  width: 400px;
  z-index: 2;
}
.header .row .col:nth-child(2) img:nth-child(2) {
  width: 510px;
  z-index: 1;
}

.skills{
    min-height: 60vh;
}

.skills .container h1{
    color: #555555;
}

.skills .row .col p{
    font-size: 12px;
}


.skills .row .col i{
    color: #555555;
    font-size: 46px;
    margin-bottom: 20px;
}

.about{
    background-color: #fff6fd;
}

.about .row{
    min-height: 90vh;
}

.about .row .col p{
    font-size: 14px;
}

.project{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-inline: 10px;
}

.project h1{
    color: #555555;
}
.services{
    padding-bottom: 100px;
}
.services h1{
    color:#555555;
}

.services .row .col p{
    text-align: justify;
}

.footer{
    min-height: 50vh;
    background-color:#fffaf7 ;
}

.footer .row .col a{
    color: #020101;
}
.footer .row .col a:hover{
    color: #223744;
}

.copyright{
    background-color: #f1feea;
}

.about .row .col img:nth-child(1){
position: absolute;
bottom: 0;
left: 50px;
transform: translateX(-50);
z-index: 2;
width: 550px;
}

.project .row .col img{
    width: 50%;
}



@media screen and (max-width: 1200px) {
    .header .row .col:nth-child(1)h1 {
    font-size: 50px;
}
.header .row .col:nth-child(2) img:nth-child(1) {
width: 400px;
}
.header .row .col:nth-child(2) img:nth-child(2) {
width: 510px;
}
.skills .row .col h5{
        font-size: 16px;
    }

    .about .row .col img:nth-child(1){
        width: 300px;
    }
}

@media screen and (max-width:992) {
    .about .row{
        min-height: 100vh;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about .row .col:nth-child(1){
        margin-bottom: 50px;
    }
    .about .row .col:nth-child(2) .desc{
        text-align: center;
    }
    .about .row .col img:nth-child(1){
        position: relative;
        width: 300px;
    }
    
}

@media screen and (max-width:768px) {
.header .row .col:nth-child(2) img:nth-child(1) {
width: 400px;
}
.header .row .col:nth-child(2) img:nth-child(2) {
width: 510px;
}

    .about .row .col img:nth-child(1){
        width: 250px;
    }

}

@media screen and (max-width:475px){
 .header .row .col:nth-child(1)h1 {
    font-size: 40px;
}
 .header .row .col:nth-child(1) > p {
    font-size: 12px;
}
 .header .row .col:nth-child(1) div p {
    font-size: 12px;
}
.header .row .col:nth-child(2) img:nth-child(1) {
width: 200px;
}
.header .row .col:nth-child(2) img:nth-child(2) {
width: 300px;
}
.skil .row .col p{
padding: 0 50px 0 50px;
}
.about .row .col:nth-child(1){
      margin-bottom: 20px ;
 .about .row .col img:nth-child(1){
        width: 200px;
    }
}
}